<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JPM_150_Jee_Basic_Security</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!-- step 1 : security constraints -->
  <security-constraint>
<!-- step 2 : <web-resource-collection> -->
	  <web-resource-collection>	  
		  <web-resource-name>JPM_150_Jee_Basic_Security</web-resource-name>
		  	<url-pattern>/*</url-pattern>
		  	<http-method>GET</http-method>
		  	<http-method>POST</http-method>
	  </web-resource-collection>
<!-- step 3 : <auth-constraint> -->
	  	<auth-constraint>	  	
	  		<description>only tomcat users</description>
	  		<role-name>tomcat</role-name>
	  	</auth-constraint>
  </security-constraint>
<!-- step 4 : <security-role> -->
	<security-role>
		<role-name>tomcat</role-name>
	</security-role>
<!-- step 5 : login-config -->
<login-config>
	<auth-method>BASIC</auth-method>
	<realm-name>default</realm-name>
<!-- it is a security domain for web/ application server (pre-configured)-->
</login-config>
</web-app>